# Assinment-submition
body {
    background:#eef2f7;
    font-family: Arial;
}

.container {
    margin-top: 40px;
}

.card {
    padding:20px;
    border-radius:10px;
    background:white;
}

button {
    margin-top:10px;
}
